{% extends 'admin_base.html' %}


{% block title %}
	Management System
{% endblock title %}



{% block content %}
<div class="container-fluid">
	<div class="row">
    <!-- <div class="col-sm-4"> -->
    	<div class="sidenav">
		  <a href="#about">About</a>
		  <a href="#services">Services</a>
		  <a href="#clients">Clients</a>
		  <a href="#contact">Contact</a>
		</div>
	<!-- </div> -->
    <!-- <div class="col-sm-8"> -->
	    <div class="main">
		  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
		  <table id="myTable">
			  <tr class="header">
			    <th>Admision No</th>
			    <th>First Name</th>
			    <th>Last Name</th>
			    <th>Blood Group</th>
			    <th>Religion</th>
			    <th>Sport</th>
			    <th>Mediacal Conditions</th>
			    <th>Grade</th>
			    <th>Parent Contact</th>
			  </tr>
			  {% for std in Students %}
				  <tr>
				    <a href=""><td>{{std.admision_no}}</td></a>
				    <td>{{std.first_name}}</td>
				    <td>{{std.last_name}}</td>
				    <td>{{std.blood_type}}</td>
				    <td>{{std.religion}}</td>
				    <td>{{std.sport}}</td>
				    <td>{{std.medical_conditions}}</td>
				    <td>{{std.grade}}</td>
				    <td>{{std.parent_contact}}</td>
				    <td>
				    	<a href='/delete/{{std.id}}' class="btn btn-sm btn-dark">Delete</a>
				    </td>
				    <td>
				    	<a href='/update/{{std.id}}' class="btn btn-sm btn-dark">Update</a>
				    </td>
				  </tr>	
			  {% endfor %}		
			</table>
		</div>
  </div>
</div>
	
</div>

{% endblock content %}