{% extends 'admin_base.html' %}


{% block title %}
	Management System
{% endblock title %}



{% block content %}
<div class="container-fluid">
	<div class="row">
    <!-- <div class="col-sm-4"> -->
    	<div class="sidenav">
		  <a href="#about">About</a>
		  <a href="#services">Services</a>
		  <a href="#clients">Clients</a>
		  <a href="#contact">Contact</a>
		</div>
	<!-- </div> -->
    <!-- <div class="col-sm-8"> -->
	    <div class="container mt-2">
		  	<input class="form-control" id="myInput" type="text" placeholder="Search..">
		  <table id="myTable" class='table table-bordered'>
		  		<thead>
		  			<tr>
					    <th>AdmisionNo</th>
					    <th>FirstName</th>
					    <th>LastName</th>
					    <th>BloodGroup</th>
					    <th>Religion</th>
					    <th>Sport</th>
					    <th>MediacalCondition</th>
					    <th>Grade</th>
					    <th>ParentContact</th>
			  		</tr>
		  		</thead>
			  
			  {% for std in Students %}
			  <tbody id="myTable">
					<tr>
				    <td>{{std.admision_no}}</td>
				    <td>{{std.first_name}}</td>
				    <td>{{std.last_name}}</td>
				    <td>{{std.blood_type}}</td>
				    <td>{{std.religion}}</td>
				    <td>{{std.sport}}</td>
				    <td>{{std.medical_conditions}}</td>
				    <td>{{std.grade}}</td>
				    <td>{{std.parent_contact}}</td>
				    <td>
				    	<a href='/delete/{{std.id}}' class="btn btn-danger">Delete</a>
				    </td>
				    <td>
				    	<a href='/update/{{std.id}}' class="btn btn-primary">Update</a>
				    </td>
				  </tr>	
			  </tbody>	
			  {% endfor %}		
			</table>
		</div>
  </div>
</div>
	
</div>

{% endblock content %}